@font-face {
  font-family: 'motley_forcesregular';
  src: url('../fonts/motleyforcesregular-w1rz3-webfont.woff2') format('woff2'),
       url('../fonts/motleyforcesregular-w1rz3-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}